.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100% !important;
    height: 25px;
    background: #6363f3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0311fa;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #0311fa;
    cursor: pointer;
}